<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Digital Identity Example</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
</head>
<body class="yoti-body">>
<main>
    <section class="yoti-top-section">
        <div class="yoti-logo-section">
            <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti"/>
        </div>

        <h2 th:text="${message}">Digital Identity Share Example page</h2>

        <p> SdkId: <strong th:text="${sdkId}"></strong></p>

        <div>
            <p><strong>Created Session</strong></p>
            <p> ID: <strong th:text="${session_id}"></strong></p>
            <p> Status: <strong th:text="${session_status}"></strong></p>
            <p> Expiry: <strong th:text="${session_expiry}"></strong></p>
        </div>

        <div>
            <p><strong>Created Session QR Code</strong></p>
            <p> ID: <strong th:text="${session_qrcode_id}"></strong></p>
            <p> URI: <strong th:text="${session_qrcode_uri}"></strong></p>
        </div>

        <div>
            <p><strong>Fetched Session QR Code</strong></p>
            <p> Expiry: <strong th:text="${qrcode_expiry}"></strong></p>
            <p> Extensions: <strong th:text="${qrcode_extensions}"></strong></p>
            <p> Redirect URI: <strong th:text="${qrcode_redirect_uri}"></strong></p>
            <p> Session Status: <strong th:text="${qrcode_session_status}"></strong></p>
            <p> Session Expiry: <strong th:text="${qrcode_session_expiry}"></strong></p>
        </div>

        <div>
            <p><strong>Fetched Session</strong></p>
            <p> Created: <strong th:text="${fetch_session_created}"></strong></p>
            <p> Updated: <strong th:text="${fetch_session_updated}"></strong></p>
            <p> Expiry: <strong th:text="${fetch_session_expiry}"></strong></p>
            <p> Status: <strong th:text="${fetch_session_status}"></strong></p>
            <p> QR Code ID: <strong th:text="${fetch_session_qrcode_id}"></strong></p>
            <p> Receipt ID: <strong th:text="${fetch_session_receipt_id}"></strong></p>
        </div>
    </section>
</main>

</body>
</html>
