<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Digital Identity Example</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
</head>
<body>
<main>
    <section class="yoti-top-section">
        <div class="yoti-logo-section">
            <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti"/>
        </div>

        <h2 th:text="${message}">Digital Identity Share Example page</h2>

        <p> SdkId: <strong th:text="${sdkId}"></strong></p>

        <div>
            <p> Id: <strong th:text="${session_id}"></strong></p>
            <p> Status: <strong th:text="${session_status}"></strong></p>
            <p> Expiry: <strong th:text="${session_expiry}"></strong></p>
        </div>
    </section>
    </section>
</main>

</body>
</html>
