<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<td th:fragment="anchorDisplay(anchors)">
    <div th:each="anchor : ${anchors}" style="border: 1px solid grey; display:inline-block; margin-bottom=0" >
        <p style="line-height:0"><i>Type:</i> <span th:text="${anchor.type}"/></p>
        <p style="line-height:0"><i>Value:</i> <span th:text="${anchor.value}"/></p>
        <p style="line-height:0"><i>SubType:</i> <span th:text="${anchor.subType}"/></p>
        <p style="line-height:0"><i>Timestamp:</i> <span th:text="${anchor.signedTimestamp.timestamp.date}"/>, <span th:text="${anchor.signedTimestamp.timestamp.time}"/></p>
    </div>
</td>
</body>
</html>
