<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="yoti-html">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Yoti client example</title>
        <link rel="stylesheet" type="text/css" th:href="@{/static/profile.css}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    </head>

    <body class="yoti-body">
        <main class="yoti-profile-layout">

            <section class="yoti-profile-user-section">
                <div class="yoti-profile-picture-powered-section">
                    <span class="yoti-profile-picture-powered">Powered by</span>
                    <img class="yoti-logo-image" th:src="@{/static/assets/logo.png}" th:srcset="@{/static/assets/logo@2x.png}" alt="Yoti" />
                </div>

                <div class="yoti-profile-picture-section">

                    <div class="yoti-profile-picture-area" th:if="${base64Selfie != null}">
                        <img th:src="${base64Selfie}" class="yoti-profile-picture-image" alt="Yoti" />
                        <i class="yoti-profile-picture-verified-icon"></i>
                    </div>

                    <div class="yoti-profile-name" th:if="${fullName != null}">
                        <span th:text="${fullName}" />
                    </div>

                </div>
            </section>

            <section class="yoti-attributes-section">

                <div th:if="${appLogo == null}">
                    <img class="yoti-company-logo" th:src="@{/static/assets/company-logo.jpg}" alt="company logo" />
                </div>
                <div th:if="${appLogo != null}">
                    <img class="yoti-company-logo" th:src="${appLogo}" alt="company logo" />
                </div>

                <div class="yoti-attribute-list-header">
                    <div class="yoti-attribute-list-header-attribute">Attribute</div>
                    <div class="yoti-attribute-list-header-value">Value</div>
                    <div>Anchors</div>
                </div>

                <div class="yoti-attribute-list-subheader">
                    <div class="yoti-attribute-list-subhead-layout">
                        <div>S / V</div>
                        <div>Value</div>
                        <div>Sub type</div>
                    </div>
                </div>

                <div class="yoti-attribute-list">

                    <div th:each="attribute : ${displayAttributes}" class="yoti-attribute-list-item">

                        <div class="yoti-attribute-name">
                            <div class="yoti-attribute-name-cell">
                                <i th:class="${attribute.icon}" />
                                <span class="yoti-attribute-name-cell-text" th:text="${attribute.displayName}" />
                            </div>
                        </div>

                        <div class="yoti-attribute-value">
                            <div th:switch="${attribute.attribute.name}" class="yoti-attribute-value-text">
                                <div th:case="structured_postal_address">
                                    <table>
                                        <tr th:each="instance : ${attribute.attribute.value}">
                                            <td th:text="${instance.key}"></td>
                                            <td th:text="${instance.value}"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div th:case="document_images">
                                    <img th:src="${attribute.attribute.value[0].base64Content}" alt="document_image" />
                                </div>
                                <div th:case="*" class="yoti-attribute-value-text" th:text="${attribute.displayValue}"></div>
                            </div>
                        </div>

                        <div class="yoti-attribute-anchors-layout">
                            <div class="yoti-attribute-anchors-head -s-v">S / V</div>
                            <div class="yoti-attribute-anchors-head -value">Value</div>
                            <div class="yoti-attribute-anchors-head -subtype">Sub type</div>

                            <div th:each="anchor : ${attribute.attribute.sources}" th:remove="tag">
                                <div class="yoti-attribute-anchors -s-v">Source</div>
                                <div class="yoti-attribute-anchors -value" th:text="${anchor.value}" />
                                <div class="yoti-attribute-anchors -subtype" th:text="${anchor.subType}" />
                            </div>

                            <div th:each="anchor : ${attribute.attribute.verifiers}" th:remove="tag">
                                <div class="yoti-attribute-anchors -s-v">Verifier</div>
                                <div class="yoti-attribute-anchors -value" th:text="${anchor.value}" />
                                <div class="yoti-attribute-anchors -subtype" th:text="${anchor.subType}" />
                            </div>
                        </div>

                    </div>

                </div>
            </section>

        </main>
    </body>
</html>
