<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="sessionResult" type="com.yoti.api.client.docs.session.retrieve.GetSessionResult"*/-->

<head th:replace="fragments/components :: header-head"></head>

<body>
<nav th:replace="fragments/components :: header-nav"></nav>

<div class="container mb-3">

    <div class="row">
        <div class="col">
            <h1>Get Session Result</h1>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Session ID</td>
                    <td th:text="${sessionResult.getSessionId()}"></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                            <span class="badge"
                                  th:classappend="${sessionResult.getState() == 'COMPLETED' ? 'badge-primary' : 'badge-secondary'}"
                                  th:text="${sessionResult.getState()}">
                            </span>
                    </td>
                </tr>
                <tr th:if="${sessionResult.getClientSessionToken() != null}">
                    <td>Client Session Token</td>
                    <td th:text="${sessionResult.getClientSessionToken()}"></td>
                </tr>
                <tr>
                    <td>Client Session Token TTL</td>
                    <td th:text="${sessionResult.getClientSessionTokenTtl()}"></td>
                </tr>
                <tr>
                    <td>User Tracking ID</td>
                    <td th:text="${sessionResult.getUserTrackingId()}"></td>
                </tr>
                <tr th:if="${sessionResult.getBiometricConsentTimestamp() != null}">
                    <td>Biometric Consent Timestamp</td>
                    <td th:text="${sessionResult.getBiometricConsentTimestamp()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${sessionResult.getChecks().size() > 0}" class="row pt-4">
        <div class="col">
            <h2>Checks</h2>
            <div class="accordion mt-3" id="checks">

                <!-- Authenticity Checks -->
                <div th:if="${sessionResult.getAuthenticityChecks().size() > 0}" class="card">
                    <div class="card-header" id="authenticity-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-authenticity-checks" aria-expanded="true"
                                    aria-controls="collapse-authenticity-checks">
                                Authenticity Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-authenticity-checks" class="collapse"
                         aria-labelledby="authenticity-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getAuthenticityChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Text Data Checks -->
                <div th:if="${sessionResult.getIdDocumentTextDataChecks().size() > 0}" class="card">
                    <div class="card-header" id="text-data-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-text-data-checks-checks" aria-expanded="true"
                                    aria-controls="collapse-text-data-checks-checks">
                                ID Document Text Data Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-text-data-checks-checks" class="collapse"
                         aria-labelledby="text-data-checks-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getIdDocumentTextDataChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Face Match Checks -->
                <div th:if="${sessionResult.getFaceMatchChecks().size() > 0}" class="card">
                    <div class="card-header" id="face-match-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-face-match-checks" aria-expanded="true"
                                    aria-controls="collapse-face-match-checks">
                                Face Match Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-face-match-checks" class="collapse"
                         aria-labelledby="face-match-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getFaceMatchChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Liveness Checks -->
                <div th:if="${sessionResult.getLivenessChecks().size() > 0}" class="card">
                    <div class="card-header" id="liveness-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-liveness-checks" aria-expanded="true"
                                    aria-controls="collapse-liveness-checks">
                                Liveness Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-liveness-checks" class="collapse"
                         aria-labelledby="liveness-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getLivenessChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Comparison Checks -->
                <div th:if="${sessionResult.getIdDocumentComparisonChecks().size() > 0}" class="card">
                    <div class="card-header" id="comparison-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-comparison-checks" aria-expanded="true"
                                    aria-controls="collapse-comparison-checks">
                                ID Document Comparison Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-comparison-checks" class="collapse"
                         aria-labelledby="comparison-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getIdDocumentComparisonChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Face Comparison Checks -->
                <div th:if="${sessionResult.getFaceComparisonChecks().size() > 0}" class="card">
                    <div class="card-header" id="face-comparison-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-face-comparison-checks" aria-expanded="true"
                                    aria-controls="collapse-face-comparison-checks">
                                Face Comparison Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-face-comparison-checks" class="collapse"
                         aria-labelledby="face-comparison-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getFaceComparisonChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Third Party Identity Checks -->
                <div th:if="${sessionResult.getThirdPartyIdentityChecks().size() > 0}" class="card">
                    <div class="card-header" id="third-party-identity-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-third-party-identity-checks" aria-expanded="true"
                                    aria-controls="collapse-third-party-identity-checks">
                                Third Party Identity Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-third-party-identity-checks" class="collapse"
                         aria-labelledby="third-party-identity-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getThirdPartyIdentityChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Watchlist Screening Checks -->
                <div th:if="${sessionResult.getWatchlistScreeningChecks().size() > 0}" class="card">
                    <div class="card-header" id="watchlist-screening-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-watchlist-screening-checks" aria-expanded="true"
                                    aria-controls="collapse-watchlist-screening-checks">
                                Watchlist Screening Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-watchlist-screening-checks" class="collapse"
                         aria-labelledby="watchlist-screening-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getWatchlistScreeningChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Watchlist Advanced Checks -->
                <div th:if="${sessionResult.getWatchlistAdvancedCaChecks().size() > 0}" class="card">
                    <div class="card-header" id="watchlist-advanced-ca-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-watchlist-advanced-ca-checks" aria-expanded="true"
                                    aria-controls="collapse-watchlist-advanced-ca-checks">
                                Watchlist Advanced Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-watchlist-advanced-ca-checks" class="collapse"
                         aria-labelledby="watchlist-advanced-ca-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getWatchlistAdvancedCaChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Supplementary Document Text Data Checks -->
                <div th:if="${sessionResult.getSupplementaryDocumentTextDataChecks().size() > 0}" class="card">
                    <div class="card-header" id="sup-text-data-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-sup-text-data-checks-checks" aria-expanded="true"
                                    aria-controls="collapse-sup-text-data-checks-checks">
                                Supplementary Document Text Data Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-sup-text-data-checks-checks" class="collapse"
                         aria-labelledby="sup-text-data-checks-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getSupplementaryDocumentTextDataChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Third Party Identity Fraud One Checks -->
                <div th:if="${sessionResult.getThirdPartyIdentityFraudOneChecks().size() > 0}" class="card">
                    <div class="card-header" id="third-party-identity-fraud-one-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-third-party-identity-fraud-one-checks" aria-expanded="true"
                                    aria-controls="collapse-third-party-identity-fraud-one-checks">
                                Third Party Identity Fraud One Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-third-party-identity-fraud-one-checks" class="collapse"
                         aria-labelledby="third-party-identity-fraud-one-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getThirdPartyIdentityFraudOneChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Synectics Identity Fraud Checks -->
                <div th:if="${sessionResult.getSynecticsIdentityFraudChecks().size() > 0}" class="card">
                    <div class="card-header" id="synectics-identity-fraud-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-synectics-identity-fraud-checks" aria-expanded="true"
                                    aria-controls="collapse-synectics-identity-fraud-checks">
                                Synectics Identity Fraud Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-synectics-identity-fraud-checks" class="collapse"
                         aria-labelledby="synectics-identity-fraud-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getSynecticsIdentityFraudChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- IBV Visual Review Checks -->
                <div th:if="${sessionResult.getIbvVisualReviewChecks().size() > 0}" class="card">
                    <div class="card-header" id="ibv-visual-review-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-ibv-visual-review-checks" aria-expanded="true"
                                    aria-controls="collapse-ibv-visual-review-checks">
                                IBV Visual Review Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-ibv-visual-review-checks" class="collapse"
                         aria-labelledby="ibv-visual-review-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getIbvVisualReviewChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Document Scheme Validity Checks -->
                <div th:if="${sessionResult.getDocumentSchemeValidityChecks().size() > 0}" class="card">
                    <div class="card-header" id="document-scheme-validity-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-document-scheme-validity-checks" aria-expanded="true"
                                    aria-controls="collapse-document-scheme-validity-checks">
                                Document Scheme Validity Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-document-scheme-validity-checks" class="collapse"
                         aria-labelledby="document-scheme-validity-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getDocumentSchemeValidityChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Profile Document Match Checks -->
                <div th:if="${sessionResult.getProfileDocumentMatchChecks().size() > 0}" class="card">
                    <div class="card-header" id="profile-document-match-checks">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse-profile-document-match-checks" aria-expanded="true"
                                    aria-controls="collapse-profile-document-match-checks">
                                Profile Document Match Checks
                            </button>
                        </h3>
                    </div>
                    <div id="collapse-profile-document-match-checks" class="collapse"
                         aria-labelledby="profile-document-match-checks">
                        <div class="card-body">
                            <table th:each="check : ${sessionResult.getProfileDocumentMatchChecks()}"
                                   th:include="fragments/checks :: check-template(${check})"
                                   class="table table-striped">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:if="${sessionResult.getResources().getIdDocuments().size() > 0}">
        <div class="row pt-4">
            <div class="col">
                <h2>ID Documents</h2>
            </div>
        </div>

        <div class="row pt-4"
             th:each="document,iter : ${sessionResult.getResources().getIdDocuments()}">

            <!--@thymesVar id="document" type="com.yoti.api.client.docs.session.retrieve.IdDocumentResourceResponse"-->
            <div class="col">

                <!-- Header -->
                <h3>
                    <span th:text="${document.getDocumentType()}" th:remove="tag"></span>
                    <span class="badge badge-primary"
                          th:text="${document.getIssuingCountry()}"></span>
                    <span th:if="${document.getSource() != null}" class="badge badge-warning"
                          th:text="${document.getSource().getType()}"></span>
                </h3>

                <div class="accordion mt-3">

                    <!-- Document Fields -->
                    <div class="card" th:if="${document.getDocumentFields() != null}">
                        <div class="card-header" th:id="${'document-fields-' + iter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        th:attr="data-target='#collapse-document-fields-' + ${iter.index}"
                                        th:attrappend="aria-controls='collapse-document-fields-' + ${iter.index}"
                                        aria-expanded="true">
                                    Document Fields
                                </button>
                            </h4>
                        </div>
                        <div th:id="${'collapse-document-fields-' + iter.index}" class="collapse"
                             th:aria-labelledby="${'document-fields-' + iter.index}">
                            <div class="card-body">
                                <th:block th:if="${document.getDocumentFields().getMedia() != null}">
                                    <h5>Media</h5>
                                    <table class="table table-striped table-light">
                                        <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td>
                                                <a th:href="${'/media?mediaId=' + document.getDocumentFields().getMedia().getId()}"
                                                   th:text="${document.getDocumentFields().getMedia().getId()}">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- Document ID Photo -->
                    <div class="card" th:if="${document.getDocumentIdPhoto() != null}">
                        <div class="card-header" th:id="${'document-id-photo-' + iter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        th:attr="data-target='#collapse-document-id-photo-' + ${iter.index}"
                                        th:attrappend="aria-controls='collapse-document-id-photo-' + ${iter.index}"
                                        aria-expanded="true">
                                    Document ID Photo
                                </button>
                            </h4>
                        </div>
                        <div th:id="${'collapse-document-id-photo-' + iter.index}" class="collapse" th:aria-labelledby="${'document-id-photo-' + iter.index}">
                            <div class="card-body">
                                <div th:if="${document.getDocumentIdPhoto().getMedia() != null}">
                                    <img class="card-img-top" th:src="${'/media/?mediaId=' + document.getDocumentIdPhoto().getMedia().getId()}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Text Extraction Tasks -->
                    <div class="card" th:if="${document.getTextExtractionTasks().size() > 0}">
                        <div class="card-header" th:id="${'text-extraction-tasks-' + iter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        aria-expanded="true"
                                        th:attr="aria-controls='collapse-text-extraction-tasks-' + ${iter.index}"
                                        th:attrappend="data-target='#collapse-text-extraction-tasks-' + ${iter.index}">
                                    Text Extraction Tasks
                                </button>
                            </h4>
                        </div>
                        <div class="collapse"
                             th:id="${'collapse-text-extraction-tasks-' + iter.index}"
                             th:attr="aria-labelledby='text-extraction-tasks-' + ${iter.index}">
                            <div class="card-body">
                                <th:block th:each="task : ${document.getTextExtractionTasks()}">
                                    <table class="table table-striped"
                                           th:replace="fragments/tasks :: task-template(${task})">
                                    </table>

                                    <th:block th:if="${task.getGeneratedTextDataChecks().size() > 0}">
                                        <h5>Generated Text Data Checks</h5>

                                        <table class="table table-striped"
                                               th:each="generated_check : ${task.getGeneratedTextDataChecks()}">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td th:text="${generated_check.getId()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th:block>

                                    <th:block th:if="${task.getGeneratedMedia().size() > 0}">
                                        <h5>Generated Media</h5>

                                        <table class="table table-striped" th:each="generatedMedia : ${task.getGeneratedMedia()}">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>
                                                    <a th:text="${generatedMedia.getId()}"
                                                       th:href="${'/media?mediaId=' + generatedMedia.getId()}"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Type</td>
                                                <td th:text="${generatedMedia.getType()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- Pages -->
                    <div class="card" th:if="${document.getPages().size() > 0}" th:each="page,pageIter : ${document.getPages()}">
                        <div class="card-header" th:id="${'document-pages-' + iter.index + '-' + pageIter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        aria-expanded="true"
                                        th:attr="aria-controls='collapse-document-pages-' + ${iter.index} + '-' + ${pageIter.index}"
                                        th:attrappend="data-target='#collapse-document-pages-' + ${iter.index} + '-' + ${pageIter.index}">
                                    Page <span th:text="${pageIter.index + 1}"></span>
                                </button>
                            </h4>
                        </div>
                        <div class="collapse"
                             th:id="${'collapse-document-pages-' + iter.index + '-' + pageIter.index}"
                             th:attr="aria-labelledby='document-pages-' + ${iter.index} + '-' + ${pageIter.index}">
                            <div class="card-group">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top"
                                         th:src="${'/media?mediaId=' + page.getMedia().getId()}" alt="Page Image"/>
                                    <div class="card-body">
                                        <p th:text="'Method: ' + ${page.getCaptureMethod()}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-group" th:if="${page.getFrames().size() > 0}">
                                <th:block th:each="frame : ${page.getFrames()}">
                                    <div class="card" th:if="${frame.getMedia() != null}">
                                        <img class="card-img-top" th:src="${'/media?mediaId=' + frame.getMedia().getId()}"/>
                                        <div class="card-body">
                                            <h5 class="card-title">Frame</h5>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${sessionResult.getResources().getSupplementaryDocuments().size() > 0}">
        <div class="row pt-4">
            <div class="col">
                <h2>Supplementary Documents</h2>
            </div>
        </div>

        <div class="row pt-4"
             th:each="document,iter : ${sessionResult.getResources().getSupplementaryDocuments()}">

            <!--@thymesVar id="document" type="com.yoti.api.client.docs.session.retrieve.SupplementaryDocumentResourceResponse"-->
            <div class="col">

                <!-- Header -->
                <h3>
                    <span th:text="${document.getDocumentType()}" th:remove="tag"></span>
                    <span class="badge badge-primary"
                          th:text="${document.getIssuingCountry()}"></span>
                    <span th:if="${document.getSource() != null}" class="badge badge-warning"
                          th:text="${document.getSource().getType()}"></span>
                </h3>

                <div class="accordion mt-3">

                    <!-- Document Fields -->
                    <div class="card" th:if="${document.getDocumentFields() != null}">
                        <div class="card-header" th:id="${'sup-doc-fields-' + iter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        th:attr="data-target='#collapse-sup-doc-fields-' + ${iter.index}"
                                        th:attrappend="aria-controls='collapse-sup-doc-fields-' + ${iter.index}"
                                        aria-expanded="true">
                                    Document Fields
                                </button>
                            </h4>
                        </div>
                        <div th:id="${'collapse-sup-doc-fields-' + iter.index}" class="collapse"
                             th:aria-labelledby="${'sup-doc-fields-' + iter.index}">
                            <div class="card-body">
                                <th:block th:if="${document.getDocumentFields().getMedia() != null}">
                                    <h5>Media</h5>
                                    <table class="table table-striped table-light">
                                        <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td>
                                                <a th:href="${'/media?mediaId=' + document.getDocumentFields().getMedia().getId()}"
                                                   th:text="${document.getDocumentFields().getMedia().getId()}">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- Text Extraction Tasks -->
                    <div class="card" th:if="${document.getTextExtractionTasks().size() > 0}">
                        <div class="card-header" th:id="${'text-extraction-tasks-' + iter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        aria-expanded="true"
                                        th:attr="aria-controls='collapse-text-extraction-tasks-' + ${iter.index}"
                                        th:attrappend="data-target='#collapse-text-extraction-tasks-' + ${iter.index}">
                                    Text Extraction Tasks
                                </button>
                            </h4>
                        </div>
                        <div class="collapse"
                             th:id="${'collapse-text-extraction-tasks-' + iter.index}"
                             th:attr="aria-labelledby='text-extraction-tasks-' + ${iter.index}">
                            <div class="card-body">
                                <th:block th:each="task : ${document.getTextExtractionTasks()}">
                                    <table class="table table-striped"
                                           th:replace="fragments/tasks :: task-template(${task})">
                                    </table>

                                    <th:block th:if="${task.getGeneratedTextDataChecks().size() > 0}">
                                        <h5>Generated Text Data Checks</h5>

                                        <table class="table table-striped"
                                               th:each="generated_check : ${task.getGeneratedTextDataChecks()}">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td th:text="${generated_check.getId()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th:block>

                                    <th:block th:if="${task.getGeneratedMedia().size() > 0}">
                                        <h5>Generated Media</h5>

                                        <table class="table table-striped" th:each="generatedMedia : ${task.getGeneratedMedia()}">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>
                                                    <a th:text="${generatedMedia.getId()}"
                                                       th:href="${'/media?mediaId=' + generatedMedia.getId()}"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Type</td>
                                                <td th:text="${generatedMedia.getType()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- File -->
                    <div class="card" th:if="${document.getDocumentFile() != null}">
                        <div class="card-header" th:id="${'sup-doc-file-' + iter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    <a th:href="${'/media?mediaId=' + document.getDocumentFile().getMedia().getId()}">
                                        Download File
                                    </a>
                                </button>
                            </h4>
                        </div>
                    </div>

                    <!-- Pages -->
                    <div class="card" th:if="${document.getPages().size() > 0}" th:each="page,pageIter : ${document.getPages()}">
                        <div class="card-header" th:id="${'sup-doc-pages-' + iter.index + '-' + pageIter.index}">
                            <h4 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        aria-expanded="true"
                                        th:attr="aria-controls='collapse-sup-doc-pages-' + ${iter.index} + '-' + ${pageIter.index}"
                                        th:attrappend="data-target='#collapse-sup-doc-pages-' + ${iter.index} + '-' + ${pageIter.index}">
                                    Page <span th:text="${pageIter.index + 1}"></span>
                                </button>
                            </h4>
                        </div>
                        <div class="collapse"
                             th:id="${'collapse-sup-doc-pages-' + iter.index + '-' + pageIter.index}"
                             th:attr="aria-labelledby='sup-doc-pages-' + ${iter.index} + '-' + ${pageIter.index}">
                            <div class="card-group">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top"
                                         th:src="${'/media?mediaId=' + page.getMedia().getId()}" alt="Page Image"/>
                                    <div class="card-body">
                                        <p th:text="'Method: ' + ${page.getCaptureMethod()}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-group" th:if="${page.getFrames() != null && page.getFrames().size() > 0}">
                                <th:block th:each="frame : ${page.getFrames()}">
                                    <div class="card" th:if="${frame.getMedia() != null}">
                                        <img class="card-img-top" th:src="${'/media?mediaId=' + frame.getMedia().getId()}"/>
                                        <div class="card-body">
                                            <h5 class="card-title">Frame</h5>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${sessionResult.getResources().getZoomLivenessResources().size() > 0}">
        <div class="row pt-4">
            <div class="col">
                <h2>Zoom Liveness Resources</h2>
            </div>
        </div>

        <th:block th:each="liveness,iter : ${sessionResult.getResources().getZoomLivenessResources()}">
            <div class="row pt-4">
                <div class="col">

                    <table class="table table-striped table-light">
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td th:text="${liveness.getId()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="accordion mt-3">
                        <div class="card" th:if="${liveness.getFrames().size() > 0}">
                            <div class="card-header" th:id="${'liveness-' + iter.index + '-frames'}">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" aria-expanded="true"
                                            th:attr="data-target='#collapse-liveness-' + ${iter.index} + '-frames'"
                                            th:attrappend="aria-controls='collapse-liveness-' + ${iter.index} + '-frames'">
                                        Frames
                                    </button>
                                </h3>
                            </div>
                            <div class="collapse"
                                 th:id="${'collapse-liveness-' + iter.index + '-frames'}"
                                 th:attr="aria-labelledby='liveness-' + ${iter.index} + '-frames'">
                                <div class="card-group">
                                    <th:block th:each="frame : ${liveness.getFrames()}">
                                        <div class="card" th:if="${frame.getMedia() != null}">
                                            <img class="card-img-top" th:src="${'/media?mediaId=' + frame.getMedia().getId()}"/>
                                            <div class="card-body">
                                                <h5 class="card-title">Frame</h5>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>

    <th:block th:if="${sessionResult.getResources().getStaticLivenessResources().size() > 0}">
        <div class="row pt-4">
            <div class="col">
                <h2>Static Liveness Resources</h2>
            </div>
        </div>

        <th:block th:each="liveness,iter : ${sessionResult.getResources().getStaticLivenessResources()}">
            <div class="row pt-4">
                <div class="col">

                    <table class="table table-striped table-light">
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td th:text="${liveness.getId()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="accordion mt-3">
                        <th:block th:if="${liveness.getImage() != null}">
                            <div class="card" th:if="${liveness.getImage().getMedia() != null}">
                                <img class="card-img-top" th:src="${'/media?mediaId=' + liveness.getImage().getMedia().getId()}"/>
                                <div class="card-body">
                                    <h5 class="card-title">Image</h5>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>

    <th:block th:if="${sessionResult.getResources().getApplicantProfiles().size() > 0}">
        <div class="row pt-4">
            <div class="col">
                <h2>Applicant Profile Resources</h2>
            </div>
        </div>
        <th:block th:each="applicantProfile,iter : ${sessionResult.getResources().getApplicantProfiles()}">
            <div class="row pt-4">
                <div class="col">
                    <table class="table table-striped table-light">
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td th:text="${applicantProfile.getId()}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="accordion mt-3">
                        <div class="card" th:if="${applicantProfile.getMedia() != null}">
                            <table class="table table-striped table-light">
                                <tbody>
                                <tr>
                                    <td>JSON</td>
                                    <td>
                                        <a th:href="${'/media?mediaId=' + applicantProfile.getMedia().getId()}"
                                           th:text="${applicantProfile.getMedia().getId()}">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>

    <th:block th:if="${sessionResult.getIdentityProfilePreview() != null}">
        <div class="row pt-4">
            <div class="col">
                <h2>Identity Profile Preview</h2>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <div class="accordion mt-3">
                        <div class="card" th:if="${sessionResult.getIdentityProfilePreview().getMedia() != null}">
                            <table class="table table-striped table-light">
                                <tbody>
                                <tr>
                                    <td>JSON</td>
                                    <td>
                                        <a th:href="${'/media?mediaId=' + sessionResult.getIdentityProfilePreview().getMedia().getId()}"
                                           th:text="${sessionResult.getIdentityProfilePreview().getMedia().getId()}">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</div>

<div th:replace="fragments/components :: footer"></div>
</body>

</html>
