<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/tacit.min.css}"/>
</head>
<body>
<main>
    <h1>Welcome <span th:text="${user.name}"></span>!</h1>
    <div>
        <p>Should you come back, I&apos;ll be able to remember you by the id: <code
                th:text="${user.rememberMeId}"></code>.
        </p>
    </div>
    <div>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</main>
</body>
</html>
