name: Unit Test
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'master'
      - 'DEVELOPMENT*'

jobs:
  junit:
    name: Junit (Java ${{ matrix.jdk-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk-version: [8,11,17]
      max-parallel: 1

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java ${{ matrix.jdk-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.jdk-version }}
          architecture: x64
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: mvn test -B -pl yoti-sdk-api -Ddependency-check.skip=true
